body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style: none;
  padding: 10px;
}

.nav-container {
  padding: 0px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: auto;
}

.nav-text {
  font-size: 18px;
}

.navbar-text li {
  margin: 0px 50px;
}

.navbar-text li:hover {
  cursor: pointer;
  color: #d1021e;
  border-bottom: 3px solid #d1021e;
  padding-bottom: 2px;
}

.nav-img {
  opacity: 0.8;
}

.nav-container2 {
  padding: 0px 40px 0px 40px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-text2 {
  color: white;
}

ul .list {
  margin: 0 12px;
  font-size: 15px;
}
ul .list:hover {
  cursor: pointer;
  color: #6a6e6e;
}

.icon {
  font-size: 16px;
  border: solid 1px black;
  border-width: 1px;
  border-radius: 9999px;
  padding: 16px;
  border-color: #494950;
  color: #494950;
  margin: 0px 6px 0px 6px;
}

.icon:hover {
  background-color: #494950;
  cursor: pointer;
  color: white;
}

.icon-btn {
  padding: 12px 20px;
  border: solid 1px black;
  background-color: #36363e;
  color: white;
  font-size: 17px;
  font-style: normal;
  border-width: 1px;
  border-radius: 9999px;
}

.icon-btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.2s;
}

.section1 {
  background-image: url("/media/hiluxbg.png");
  background-size: cover;
  height: 600px;
  opacity: 0.9;
}

.info-container {
  width: 50%;
  padding-top: 200px;
  padding-left: 30px;
}

.cover-title {
  text-align: left;
  font-size: 70px;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  line-height: 3.5rem;
}

.small-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1rem;
}

.enquire-btn {
  color: black;
  background-color: white;
  padding: 15px 24px;
  border: none;
  font-weight: 600;
  border-radius: 9999px;
  font-size: 16px;
}

.enquire-btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.2s;
}

/*Section Legacy*/

.specification-title {
  color: #282830;
  font-size: 40px;
  line-height: 2rem;
  margin-left: 50px;
  margin-top: 100px;
}

.title-container {
  margin: 80px 45px 0px;
  height: 400px;
}

.title {
  color: #282830;
  font-size: 40px;
  line-height: 2rem;
}

.title2 {
  color: #cecfd0;
  font-size: 35px;
  line-height: 2rem;
}
.title-text {
  color: #8b8c90;
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
}

/*Section Vehicles*/

.vehicle-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.container-vehicles {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 40px;
}

.vehicle-type {
  text-align: center;
  font-size: 30px;
}
.vehicle1-info {
  border-radius: 15px;
  padding: 10px 16px;
  margin-top: 50px;
  width: 300px;
  border-bottom: 4px solid #d1021e;
  background-color: #282830;
  line-height: 1rem;
  color: white;
}

.vehicle-color-name {
  color: #909195;
  font-size: 16px;
}

.color-code {
  text-align: center;
}
.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8,
.color9,
.color10,
.color11,
.color12 {
  border: 1px solid rgb(173, 173, 176);
  padding: 18px;
  border-radius: 9999px;
  margin-top: 80px;
}

.color1 {
  background-color: white;
}

.color2 {
  background-color: #7d1c25;
}

.color3 {
  background-color: black;
}

.color4 {
  background-color: rgb(64, 62, 63);
}

.color5 {
  background-color: #eeeeee;
}
.color6 {
  background-color: #929da8;
}

.color7 {
  background-color: #e56028;
}

.color8 {
  background-color: #86816c;
}

.color9 {
  background-color: #424242;
}
.color10 {
  background-color: #3868a1;
}

.color11 {
  background-color: #86816c;
}

.color12 {
  background-color: #000000;
}

.vehicle1-descrip {
  margin-right: 100px;
}

.vehicle2-descrip {
  margin-left: 100px;
}

.vehicle2-info {
  border-radius: 15px;
  padding: 10px 16px;
  margin-top: 50px;
  width: 300px;
  border-bottom: 4px solid #d1021e;
  background-color: #282830;
  line-height: 1rem;
  color: white;
}

.vehicle1-img {
  width: 80%;
  overflow: hidden;
  margin-left: -100px;
}

.vehicle2-img {
  width: 80%;
  overflow: hidden;
}

.vehicle3-img {
  width: 80%;
  overflow: hidden;
  margin-left: -80px;
}

/*Section Performance*/
.performance-text-container {
  display: flex;
  justify-content: space-around;
}

.title-container2 {
  margin: 80px 45px 0px;
}

.ptext1 {
  font-size: 35px;
  line-height: 5px;
  font-weight: normal;
}

.ptext2 {
  font-size: 15px;
  color: #8b8c90;
  font-weight: normal;
}

.title-text2 {
  color: #8b8c90;
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 100px;
}

.perfomance-small-text {
  font-size: 15px;
  color: #8b8c90;
  line-height: 3.5rem;
}
.buttons-info {
  margin-bottom: 30px;
  margin-left: 65px;
}

.btn1 {
  font-size: 16px;
  border: solid 1px black;
  border-width: 1px;
  border-radius: 9999px;
  padding: 12px 20px;
  border-color: #494950;
  color: #494950;
  background-color: white;
  margin: 0px 6px 0px 6px;
}

.btn1:hover {
  background-color: #494950;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
}

.btn2 {
  padding: 12px 20px;
  border: solid 1px black;
  background-color: #36363e;
  color: white;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  border-width: 1px;
  border-radius: 9999px;
}
.btn2:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.2s;
}

/*Footer Section*/

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #282830;
}

.col-heading {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-top: 70px;
}

.col-list {
  color: white;
  font-size: 17px;
}

.col-list:hover {
  cursor: pointer;
  color: #d1021e;
}

.btn-container {
  margin-left: -100px;
}

.icon-btn2 {
  padding: 12px 20px;
  background-color: white;
  border: none;
  color: #36363e;
  font-size: 16px;
  font-weight: 500;
  border-width: 1px;
  border-radius: 9999px;
  margin-top: 70px;
}

.icon-btn2:hover {
  background-color: #36363e;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
